<!DOCTYPE html>
<html>
    <head>
        <title>Connect 4tune</title>
        <link rel="shortcut icon" href="images/casino.png" />
        <link rel="stylesheet" type="text/css" href="stylesheets/splash.css">
    </head>
    <body>
        <header>
            <img id="logo" src="images/logo3.png">
        </header>
        <main>
            <div id='slotBlock'>
                <img id="slot" src="images/slot.png">
                <form id="start" action="/game">
                    <input id = 'go' class='CasinoFont' type="submit" value="Start Game">
                </form>
            </div>
            <div id="gamesPlayed" class = 'CasinoFont'>
                <%= gamesCompleted %> Games Played
            </div>
            <div id="upSince" class = 'CasinoFont'>
                Server up since <%= recentTime %> 
            </div>
            <div id="playersOnline" class= 'CasinoFont'>
                <%= onlinePlayers %> People Playing
            </div>
            
        </main>
        <div id="visits" class='CasinoFont'></div>
    </body>
    <script type="text/javascript" src='javascripts/cookies.js'></script>
</html>