<!DOCTYPE html>
<html>
    <head>
        <title>Connect 4tune</title>
        <link rel="shortcut icon" href="images/casino.png" />
        <link rel="stylesheet" type="text/css" href="stylesheets/splash.css">
    </head>
    <body>
        <header>
            <img id="logo" src="images/logo3.png">
        </header>
        <main>
            <div id='slotBlock'>
                <img id="slot" src="images/slot.png">
                <form id="start" action="/game">
                    <input type="submit" value="Start Game">
                </form>
            </div>
            <div id="gamesPlayed">
                <%= gamesCompleted %> Games Played
            </div>
            <div id="avgTime"></div>
            <div id="playersOnline"></div>

        </main>

    </body>
</html>