body {
    background-image: url('../images/background.jpg');
    background-size: cover;
    overflow-y: hidden;
}
#slot {
    width: auto;
    height: 80vh;
    position: relative;
    bottom: 0px;
    left: 50px;

}

/* fonts */
@font-face {
    font-family: myFirstFont;
    src: url(../media/Casino.otf);
  }
.CasinoFont {
    font-family: myFirstFont;
    font-size: 50px;
    color: white;
}

#logo {
    width: auto;
    height: 40vh;
    position: relative;
    top: -5vh;
    left: 20vw; 
}

#gamesPlayed {
    position: fixed;
    top: 250px;
    right: 300px;
}

#recentTime {
    position: fixed;
    top: 400px;
    right: 500px;
}

#playersOnline {
    position: fixed;
    top: 550px;
    right: 300px;
}

#start {
    position: relative;
    bottom: 20vh;
    left: 35%;
    height: auto;
    width: 5vw;
}

#go {
    background-color: red;
    font-size: 30px;
}

#go:hover {
    background-color: rgb(145, 0, 0);
}

#slotBlock {
    position: absolute;
    left: 0px;
    bottom: 0px;
}
